[Unit]
Description=app-one

[Service]
Type=simple
ExecStart=/opt/thingsplex/app-one/app-one -c data/config.json
User=app-one
WorkingDirectory=/opt/thingsplex/app-one
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target